.accounts {
    display: flex;
    margin-left: 18rem;
    flex-wrap: wrap; /* Allow wrapping */
    gap: 20px; /* Add space between account cards */
  }
  
  .accounts AccountCard {
    display: flex;
    flex-direction: column;
    width: 18rem; /* Set a reasonable width */
  }

 
  
  .cardBox {
    display: flex;
    gap: 2rem; /* Add gap between the credit cards */
    margin-left: 18rem;
    margin-top: 2rem;
    width: 80rem; /* Ensure it takes up full width */
    height: 35rem;
  }
  .cardother {
    display: flex;
    flex-wrap: wrap; /* This allows the cards to wrap properly */
    gap: 20px; /* Add gap between the credit cards */
    margin-left: 30rem;
    margin-top: 0.1rem;
    width: 100%; /* Ensure it takes up full width */
  }
  
  /* Add spacing between different sections */
  h2 {
    margin-left: 18rem;
    margin-top: 2rem;
  }

  h1{
    margin-top: 2rem;
    margin-left: 18rem ;
  }
  
  .top-container{
    display: flex;
    justify-content: space-between;
  }

  .top-container img{
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
  }

  .inner-container{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .inner-container p{
    margin: 2rem 2rem 0 1rem;
  }

  .inner-container:hover{
    cursor: pointer;
  }

  